header {
    height: var(--header-height);
    width: 100%;
    background-color: var(--color-background);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.header-content {
    height: 120px;
    width: 100%;
    max-width: 144rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 96px;

    a {
        height: 56px;
    }

    @media (max-width: 992px) {
        padding: 0 48px;
    }

    @media (max-width: 456px) {
        padding: 32px 24px;
    }
}

.logo {
    height: 56px;
    object-fit: cover;
}

button.hamburger {
    height: 38px;
    width: 44px;
    object-fit: contain;
    background-color: transparent;
    background-image: url('/assets/img/menu-1.png');
    background-position: center center;
    background-repeat: no-repeat;
    padding: 0;
    border: none;
    cursor: pointer;
}

.no-animation {
    animation: none !important;
}

button.hamburger.active {
    animation: show-menu 0.25s ease-in-out forwards;
}

@keyframes show-menu {
    0% {
        background-image: url('/assets/img/menu-1.png');
    }

    25% {
        background-image: url('/assets/img/menu-2.png');
    }

    50% {
        background-image: url('/assets/img/menu-3.png');
    }

    75% {
        background-image: url('/assets/img/menu-4.png');
    }

    100% {
        background-image: url('/assets/img/menu-5.png');
    }
}

button.hamburger:not(.active) {
    animation: hide-menu 0.25s ease-in-out forwards;
}

@keyframes hide-menu {
    0% {
        background-image: url('/assets/img/menu-5.png');
    }

    25% {
        background-image: url('/assets/img/menu-4.png');
    }

    50% {
        background-image: url('/assets/img/menu-3.png');
    }

    75% {
        background-image: url('/assets/img/menu-2.png');
    }

    100% {
        background-image: url('/assets/img/menu-1.png');
    }
}

nav {
    height: calc(100vh - 120px);
    width: 100%;
    background-color: var(--color-background);
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 10;

    &.open {
        bottom: 0%;
    }

    &.closed {
        bottom: -100%;
    }
}

.menu-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 48px;

    a {
        width: 680px;
        position: relative;
        display: flex;
        justify-content: center;
        padding: 10px;
        border: 5px solid transparent;
        font: bold 96px 'Syne', sans-serif;
        text-decoration: none;
        color: var(--color-font);

        &:active {
            border: 5px solid black;
        }

        &::before {
            content: '';
            height: 52px;
            width: 39px;
            background: transparent;
            position: absolute;
            bottom: -5px;
            left: -5px;
            border-bottom: 5px solid black;
            border-left: 5px solid black;
        }

        &:hover::before {
            animation: border-left-animation 0.3s forwards;
        }

        &::after {
            content: '';
            width: calc(680px / 2);
            background: transparent;
            position: absolute;
            bottom: -5px;
            right: -5px;
            border-bottom: 5px solid transparent;
            transition: 0.5s;
        }

        &:hover::after {
            border-color: black;
        }

        @media (max-width: 992px),
        (max-height: 768px) {
            width: 480px;
            font-size: 72px;

            &::after {
                width: calc(480px / 2);
            }

            &:hover::before {
                animation: border-left-animation-992 0.3s forwards;
            }
        }

        @media (max-width: 576px) {
            width: 248px;
            font-size: 40px;

            &::before {
                height: 26px;
                width: 19px;
            }

            &::after {
                width: calc(248px / 2);
            }

            &:hover::before {
                animation: border-left-animation-576 0.3s forwards;
            }
        }
    }

    @media (max-width: 576px),
    (max-height: 768px) {
        row-gap: 24px;
    }
}

@keyframes border-left-animation {
    0% {
        height: 52px;
        width: 39px;
    }

    20% {
        width: calc(680px);
        height: 0px;
    }

    99% {
        width: calc(680px);
        height: 0px;
    }

    100% {
        width: 0px;
        height: 0px;
        border-color: transparent;
    }
}

@media (max-width: 992px) {
    @keyframes border-left-animation-992 {
        0% {
            height: 52px;
            width: 39px;
        }

        20% {
            width: calc(480px);
            height: 0px;
        }

        99% {
            width: calc(480px);
            height: 0px;
        }

        100% {
            width: 0px;
            height: 0px;
            border-color: transparent;
        }
    }
}

@media (max-width: 576px) {
    @keyframes border-left-animation-576 {
        0% {
            height: 26px;
            width: 19px;
        }

        20% {
            width: calc(248px);
            height: 0px;
        }

        99% {
            width: calc(248px);
            height: 0px;
        }

        100% {
            width: 0px;
            height: 0px;
            border-color: transparent;
        }
    }
}

.menu-footer {
    height: 320px;
    width: 100%;
    background-image: url('/assets/img/menu-footer-bg.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: var(--color-background);

    @media (max-width: 456px) {
        height: 260px;
    }
}

.menu-footer-content {
    width: 100%;
    max-width: 144rem;
    display: flex;
    justify-content: space-between;
    padding: 0 96px 48px;

    a {
        justify-content: flex-start;
        padding: 0;
        color: var(--color-background);
        border: none;

        &:hover {
            color: var(--color-accent);
        }
    }

    .menu-footer-left {
        display: flex;
        flex-direction: column;

        .menu-footer-headline {
            font: 800 72px 'Syne', sans-serif;
            text-decoration: none;
        }

        .menu-footer-email {
            font: 24px 'Overpass', sans-serif;
        }

        @media (max-width: 456px) {
            .menu-footer-headline {
                font-size: 32px;
            }
        }
    }

    .menu-footer-social-links {
        display: flex;
        align-items: flex-end;
        gap: 32px;

        a {
            transition: all 225ms ease-in-out;

            &:hover {
                transform: translateY(-8px);
            }
        }
    }

    @media (max-width: 992px) {
        flex-direction: column;
        gap: 16px;
        padding: 0 48px 48px;

        .menu-footer-left {
            align-items: flex-start;
        }

        .menu-footer-social-links {
            justify-content: flex-end;
        }
    }

    @media (max-width: 768px) {

        .menu-footer-left {
            .menu-footer-headline {
                font-size: 48px;
            }

            .menu-footer-email {
                font-size: 18px;
            }
        }

        .menu-footer-social-links {
            gap: 16px;
        }
    }

    @media (max-width: 456px) {
        padding: 0 24px 24px;

        .menu-footer-left {
            .menu-footer-headline {
                font-size: 32px;
            }

            .menu-footer-email {
                font-size: 16px;
            }
        }

        .menu-footer-social-links {
            gap: 8px;
        }
    }
}