<header>
    <div class="header-content">
        <a href="index.html"><img src="../../assets/img/logo.png" alt="" class="logo"></a>

        <button [class.hamburger]="true" (click)="toggleMenu()" class="no-animation"></button>
    </div>


    <nav #menu class="menu" [@slideAnimation]="menuOpen ? 'open' : 'closed'">
        <div appHeaderOffset class="menu-links">
            <a href="#about-me"><span></span>About me</a>
            <a href="#"><span></span>My skills</a>
            <a href="#"><span></span>Portfolio</a>
        </div>

        <div class="menu-footer">
            <div class="menu-footer-content">
                <div class="menu-footer-left">
                    <a href="#" class="menu-footer-headline">Say Hi!</a>
                    <span class="menu-footer-email">hello@oljung.de</span>
                </div>

                <div class="menu-footer-social-links">
                    <a href="#"><img src="../../assets/img/git.png" alt="Link to Github"></a>
                    <a href="#"><img src="../../assets/img/email.png" alt="Write an e-mail"></a>
                    <a href="#"><img src="../../assets/img/linkedin.png" alt="Link to Linkedin"></a>
                </div>
            </div>
        </div>
    </nav>
</header>