.header {
    width: 100%;
    background-color: #fffcf3;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 96px;
}

.logo {
    height: 50px;
    object-fit: cover;
}

button.hamburger {
    height: 54px;
    width: 59px;
    background-color: transparent;
    background-image: url('../../assets/img/menu-1.png');
    background-position: center center;
    background-repeat: no-repeat;
    padding: 0;
    border: none;
    cursor: pointer;
}

.no-animation {
    animation: none !important;
}

button.hamburger.active {
    animation: show-menu 0.25s ease-in-out forwards;
}

@keyframes show-menu {
    0% {
        background-image: url('../../assets/img/menu-1.png');
    }

    25% {
        background-image: url('../../assets/img/menu-2.png');
    }

    50% {
        background-image: url('../../assets/img/menu-3.png');
    }

    75% {
        background-image: url('../../assets/img/menu-4.png');
    }

    100% {
        background-image: url('../../assets/img/menu-5.png');
    }
}

button.hamburger:not(.active) {
    animation: hide-menu 0.25s ease-in-out forwards;
}

@keyframes hide-menu {
    0% {
        background-image: url('../../assets/img/menu-5.png');
    }

    25% {
        background-image: url('../../assets/img/menu-4.png');
    }

    50% {
        background-image: url('../../assets/img/menu-3.png');
    }

    75% {
        background-image: url('../../assets/img/menu-2.png');
    }

    100% {
        background-image: url('../../assets/img/menu-1.png');
    }
}

nav {
    height: calc(100vh - 122px);
    width: 100%;
    background-color: var(--color-background);
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 10;

    &.open {
        bottom: 0%;
    }

    &.closed {
        bottom: -100%;
    }
}

.menu-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 48px;

    a {
        width: 680px;
        position: relative;
        display: flex;
        justify-content: center;
        padding: 10px;
        border: 5px solid transparent;
        font: bold 96px 'Syne', sans-serif;
        text-decoration: none;
        color: var(--color-font);

        &:active {
            border: 5px solid black;
        }

        &::before {
            content: '';
            height: 52px;
            width: 39px;
            background: transparent;
            position: absolute;
            bottom: -5px;
            left: -5px;
            border-bottom: 5px solid black;
            border-left: 5px solid black;
        }

        &:hover::before {
            animation: border-left-animation 0.3s forwards;
        }

        &::after {
            content: '';
            width: calc(680px / 2);
            background: transparent;
            position: absolute;
            bottom: -5px;
            right: -5px;
            border-bottom: 5px solid transparent;
            transition: 0.5s;
        }

        &:hover::after {
            border-color: black;
        }
    }
}

@keyframes border-left-animation {
    0% {
        height: 52px;
        width: 39px;
    }

    20% {
        width: calc(680px);
        height: 0px;
    }

    99% {
        width: calc(680px);
        height: 0px;
    }

    100% {
        width: 0px;
        height: 0px;
        border-color: transparent;
    }
}

.menu-footer {
    background-image: url(../../assets/img/menu-footer-bg.png);
    background-size: cover;
    height: 320px;
    width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 96px 48px;
    color: var(--color-background);

    a {
        justify-content: flex-start;
        padding: 0;
        color: var(--color-background);
        border: none;

        &:hover {
            color: var(--color-accent);
        }
    }

    .menu-footer-left {
        display: flex;
        flex-direction: column;

        .menu-footer-headline {
            font: 800 72px 'Syne', sans-serif;
            text-decoration: none;
        }

        .menu-footer-email {
            font: 24px 'Overpass', sans-serif;
        }
    }

    .menu-footer-social-links {
        display: flex;
        gap: 32px;

        a {
            transition: all 225ms ease-in-out;

            &:hover {
                transform: translateY(-8px);
            }
        }
    }
}