<header>
    <div class="header-content">
        <a href="#" (click)="closeMenu()"><img src="../../assets/img/logo.png" alt="" class="logo"></a>

        <button [class.hamburger]="true" (click)="toggleMenu()" class="no-animation"></button>
    </div>


    <nav #menu class="menu" [@slideAnimation]="menuOpen ? 'open' : 'closed'">
        <div appHeaderOffset class="menu-links">
            <a routerLink="/" fragment="about_me"><span></span>About me</a>
            <a routerLink="/" fragment="skills"><span></span>My skills</a>
            <a routerLink="/" fragment="projects"><span></span>Portfolio</a>
        </div>

        <div class="menu-footer">
            <div appHeaderOffset class="menu-footer-content">
                <div class="menu-footer-left">
                    <a href="#contact" class="menu-footer-headline">Say Hi!</a>
                    <a href="mailto:hello@oliver-jung.dev" class="menu-footer-email">hello@oliver-jung.de</a>
                    <!-- <span class="menu-footer-email">hello@oliver-jung.dev</span> -->
                </div>

                <div class="menu-footer-social-links">
                    <a href="https://github.com/oljungde" target="_blank"><img src="../../assets/img/git.png" alt="Link to Github"></a>
                    <a href="mailto:hello@oliver-jung.dev"><img src="../../assets/img/email.png" alt="Write an e-mail"></a>
                    <a href="https://www.linkedin.com/in/oliver-jung-43325725b/" target="_blank"><img src="../../assets/img/linkedin.png" alt="Link to Linkedin"></a>
                </div>
            </div>
        </div>
    </nav>
</header>