<footer>
    <div class="footer-content">
        <h2>Say Hi!</h2>
        <div class="contact">
            <span>Want to talk about new projects</span>
            <p>Say hello! Let's discuss your ideas and make it happen!</p>
            <form class="contact-form">
                <div class="input-container">
                    <input type="text" required>
                    <label>Your name</label>
                </div>

                <input type="email" placeholder="Your email" required>
                <textarea placeholder="Your message" required></textarea>
            </form>
            <button>Send Message</button>
        </div>
    </div>
</footer>