footer {
    min-height: 50vh;
    width: 100vw;
    background-image: url('/assets/img/footer-bg.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    color: var(--color-background);
}

.footer-content {
    width: 100%;
    max-width: 144rem;
    padding: 72px 96px 20px;

    @media (max-width: 992px) {
        padding: 32px 48px 20px;
    }

    @media (min-width: 1921px) {
        padding: 120px 96px 20px;
    }
}

h2 {

    &:hover {
        color: var(--color-accent);
    }
}

.contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;

    @media (max-width: 768px) {
        // align-items: flex-start;
        margin-top: 24px;
    }

    span.contact-subline {
        font-size: 3.2rem;
        color: var(--color-accent);

        @media (max-width: 768px) {
            width: 100%;
            font-size: 2.4rem;
            text-align: start;
        }

        @media (max-width: 456px) {
            font-size: 2rem;
        }
    }

    p {
        margin: 8px 0 0;

        @media (max-width: 768px) {
            width: 100%;
            font-size: 2rem;
            text-align: start;
        }

        @media (max-width: 456px) {
            font-size: 1.6rem;
        }
    }
}

.contact-form {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 40px;
}

.input-container {
    width: 100%;
    max-width: 600px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // margin: 20px 0;
}

input,
textarea {
    width: 100%;
    background-color: black;
    position: relative;
    padding: 16px 24px;
    border: none;
    border: 3px solid transparent;
    border-bottom: 3px solid var(--color-background);
    font: 1.6rem 'Overpass', sans-serif;
    color: var(--color-background);
    transition: all 225ms ease-in-out;

    @media (max-width: 576px) {
        padding: 16px 16px;
    }

    &:hover {
        border: 3px solid var(--color-background);
    }

    &:focus {
        outline: none;
        border: 3px solid var(--color-background);
    }

    &:disabled {
        border: 3px solid gray;
        color: gray;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-text-fill-color: var(--color-background) !important;
    -webkit-box-shadow: 0 0 0 30px black inset !important;
    caret-color: var(--color-background) !important;
}

input:required:valid,
textarea:required:valid {
    border-color: var(--color-background);
}

input:required:invalid:not(:placeholder-shown) {
    border-color: var(--color-background);
}

textarea {
    background-clip: padding-box;
    resize: vertical;
}

label {
    background: black;
    position: absolute;
    top: 3px;
    left: 3px;
    padding: 0 8px;
    margin: 16px 16px;
    font: 1.6rem 'Overpass', sans-serif;
    color: var(--color-background);
    pointer-events: none;
    transition: all 225ms ease-in-out;
}

input:focus+label,
textarea:focus+label,
input:not(:placeholder-shown)+label,
textarea:not(:placeholder-shown)+label {
    opacity: 1;
    transform: translateY(-26px);

}

.error-container {
    height: 32px;
}

.error-message {
    font: 1.6rem 'Overpass', sans-serif;
    color: red;
}

button {
    background: none;
    margin-top: 16px;
    padding: 16px 32px;
    border: 4px solid var(--color-background);
    font: 2.4rem 'Overpass', sans-serif;
    transition: all 225ms ease-in-out;
    color: var(--color-background);
    cursor: pointer;

    @media (max-width: 456px) {
        font-size: 1.8rem;
    }

    &:hover {
        padding: 16px 48px;
        font-weight: bold;
        color: var(--color-background);

        @media (max-width: 456px) {
            padding: 16px 36px;
        }
    }

    &:active {
        background-color: var(--color-background);
        padding: 16px 40px;
        font-weight: 400;
        color: var(--color-font);

        @media (max-width: 456px) {
            padding: 16px 32px;
        }
    }

    &:disabled {
        border: 4px solid gray;
        color: gray;
    }
}

.footer-endline {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 32px;

    @media (max-width: 768px) {
        margin-top: 32px;
    }

    @media (max-width: 576px) {
        flex-direction: column-reverse;
        align-items: center;
        gap: 24px;
    }

    .logo-footer {
        height: 35px;
        object-fit: cover;
    }

    p {
        margin: 0;
        font: 1.6rem 'Overpass', sans-serif;
        color: var(--color-background);

        @media (max-width: 576px) {
            margin-top: 4px;
        }
    }

    .footer-left {

        @media (max-width: 576px) {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 16px;
        }
    }

    .footer-right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 8px;

        @media (max-width: 576px) {
            align-items: center;
        }
    }

    .footer-social-links {
        display: flex;
        align-items: flex-end;
        gap: 32px;

        a {
            transition: all 225ms ease-in-out;

            &:hover {
                transform: translateY(-8px);
            }
        }
    }

    .footer-legal {
        display: flex;
        gap: 8px;
        font: 1.6rem 'Overpass', sans-serif;
        color: var(--color-background);

        a {
            color: var(--color-background);

            &:hover {
                color: var(--color-accent);
            }
        }
    }
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.blur {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(5px);
}

.loader {
    width: 120px;
    height: 120px;
    position: absolute;
    bottom: 120px;
    left: 50%;
    border: 16px solid var(--color-background);
    border-top: 16px solid var(--color-accent);
    border-radius: 50%;
    transform: translateX(-50%);
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader-hidden {
    display: none;
}

.sends-container {
    min-height: 50px;

    position: absolute;
    bottom: 200px;
    display: flex;
    align-items: center;

    color: var(--color-accent);


    @media (max-width: 576px) {
        bottom: 190px;
        font-size: 16px;
    }

    span {
        background-color: var(--color-background);
        padding: 12px 16px 8px;
        border-radius: 8px;
    }
}

.to-top {
    width: 40px;
    height: 75px;
    object-fit: cover;
    object-position: top;
    position: absolute;
    bottom: 110px;
    right: 0;
    cursor: pointer;
    z-index: 99999;
    transition: all 225ms ease-in-out;

    &:hover {
        height: 95px;
        width: 40px;
    }
}