<footer id="contact" class="header-offset">
    <div class="footer-content">
        <h2>Say Hi!</h2>
        <div class="contact">
            <span class="contact-subline">Want to talk about new projects</span>
            <p>Say hello! Let's discuss your ideas and make it happen!</p>

            <div [ngClass]="{ 'loader-hidden': !isSending }" class="overlay">
                <div class="blur"></div>
                <div class="loader"></div>
            </div>

            <form [formGroup]="contactForm" (ngSubmit)="sendMail()" class="contact-form">
                <div class="input-container">
                    <input type="text" formControlName="name" placeholder=" " required>
                    <label>Your name</label>
                    <div class="error-container">
                        <div *ngIf="contactForm.controls['name'].invalid && (submitted || contactForm.controls['name'].dirty || contactForm.controls['name'].touched)">
                            <p class="error-message">Please enter your name.</p>
                        </div>
                    </div>
                </div>

                <div class="input-container">
                    <input type="email" formControlName="email" placeholder=" " required>
                    <label>Your email</label>
                    <div class="error-container">
                        <div *ngIf="contactForm.controls['email'].errors && (submitted || contactForm.controls['email'].dirty || contactForm.controls['email'].touched)">
                            <p *ngIf="contactForm.controls['email'].errors['required']" class="error-message">Please enter your email adress.</p>
                            <p *ngIf="contactForm.controls['email'].errors['email'] && contactForm.controls['email'].touched" class="error-message">Please enter a valid email adress.</p>
                        </div>
                    </div>
                </div>

                <div class="input-container">
                    <textarea formControlName="message" rows="7" placeholder=" " required></textarea>
                    <label>Your message</label>
                    <div class="error-container">
                        <div *ngIf="contactForm.controls['message'].errors && (submitted || contactForm.controls['message'].dirty || contactForm.controls['message'].touched)">
                            <p *ngIf="contactForm.controls['message'].errors['required']" class="error-message">Please enter your message.</p>
                            <p *ngIf="contactForm.controls['message'].errors['minlength'] && contactForm.controls['message'].touched" class="error-message">Please enter a message with at least 10
                                characters.</p>
                        </div>
                    </div>
                </div>

                <div class="sends-container">
                    <span *ngIf="sends">Your message has been sent</span>
                </div>
                <button type="submit" [disabled]="isSending">Send Message</button>
            </form>
        </div>

        <div class="footer-endline">
            <div class="footer-left">
                <img src="../../assets/img/logo-footer.png" alt="" class="logo-footer">
                <p>© Oliver Jung 2023</p>
            </div>

            <div class="footer-right">
                <div class="footer-social-links">
                    <a href="#"><img src="../../assets/img/git.png" alt="Link to Github"></a>
                    <a href="#"><img src="../../assets/img/email.png" alt="Write an e-mail"></a>
                    <a href="#"><img src="../../assets/img/linkedin.png" alt="Link to Linkedin"></a>
                </div>

                <div class="footer-legal">
                    <a routerLink="/legal-notice">Legal Notice</a> |
                    <a href="/privacy-policy">Privacy Policy</a>
                </div>

            </div>
            <a href="#">top</a>
        </div>
    </div>

</footer>