<section class="about-me header-offset">
    <div id="about_me" class="about-me-left">
        <h2 class="about-me-headline">About me</h2>
        <div>
            <p>
                I am a frontend developer based in Bochum, Germany. With my creativity and logical thinking I help designers and companies to solve complex development challenges in teamwork.
            </p>

            <p>
                If you think I fit to your projects I am looking forward to hearing from you.
            </p>
        </div>
        <app-button [linkTo]="linkTo" [linkTarget]="'_self'" [linkName]="linkName"></app-button>
    </div>

    <div class="about-me-right">
        <img src="../../assets/img/portrait.jpg" alt="" class="about-me-img">
        <div class="about-me-img-border"></div>
        <div appHeaderOffset data-aos="fade-down-left" data-aos-offset="100" data-aos-delay="400">
            <a href="#skills"><img src="../../assets/img/arrow-right.png" alt="" class="about-me-arrow"></a>
        </div>
    </div>
</section>