.about-me {
    min-height: calc(100vh - var(--header-height));
    display: flex;
    gap: 92px;

    @media (max-width: 1440px) {
        gap: 64px;
    }

    @media (max-width: 1140px) {
        gap: 48px;
    }

    @media (max-width: 992px) {
        flex-direction: column;
        gap: 32px;
    }
}

.about-me-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;

    @media (max-width: 1140px) {
        gap: 32px;

        app-button {
            margin-top: 16px;
        }
    }

    @media (max-width: 576px) {

        app-button {
            display: none;
        }
    }

    .about-me-headline {
        width: 100%;
        text-align: left;


    }

    p {
        margin-top: 0;
        text-align: left;

        @media (max-width: 576px) {
            font-size: 2rem;
        }
    }
}

.about-me-right {
    min-height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;

    @media (max-width: 576px) {}

    .about-me-img {
        min-width: 530px;
        height: 530px;
        object-fit: cover;
        margin-top: 48px;
        border-radius: 50%;

        @media (max-width: 1440px) {
            min-width: 400px;
            height: 400px;
        }

        @media (max-width: 1140px) {
            min-width: 350px;
            height: 350px;
        }

        @media (max-width: 576px) {
            margin-top: 0;
        }

        @media (max-width: 456px) {
            min-width: 240px;
            height: 240px;
        }
    }

    .about-me-img-border {
        height: 530px;
        width: 530px;
        position: absolute;
        top: 0;
        left: -20px;
        margin-top: 48px;
        border: 3px solid black;
        border-radius: 50%;
        opacity: 0;
        transition: all 125ms ease-in;

        @media (max-width: 1440px) {
            height: 400px;
            width: 400px;
            left: -15px;
        }

        @media (max-width: 1140px) {
            height: 350px;
            width: 350px;
            left: -15px;
        }

        @media (max-width: 992px) {
            left: calc(50% - 15px);
            transform: translateX(-50%);
        }

        @media (max-width: 576px) {
            margin-top: 0;
        }

        @media (max-width: 456px) {
            height: 260px;
            width: 260px;
            top: -10px;
            left: 50%;
        }

        &:hover {
            opacity: 1;
        }
    }

    .about-me-arrow {
        width: 215px;
        height: 215px;
        object-fit: cover;

        @media (max-width: 576px) {
            width: 180px;
            height: 180px;
        }

        @media (max-width: 456px) {
            width: 120px;
            height: 120px;
        }
    }
}