<section class="about-me header-offset">
    <div id="about-me" class="about-me-left">
        <h2 class="about-me-headline">About me</h2>
        <div>
            <p>
                I am a Front-end deverloper based in München, Germany. I help designers and companies to bring their ideas to real life. Creativity and logical thinking are skills that I have
                developed to connect
                ideas into quality products.
            </p>

            <p>
                If you think I’d be a good match for your projects, contact me!
            </p>
        </div>
        <app-button [linkTo]="linkTo" [linkName]="linkName"></app-button>
    </div>

    <div class="about-me-right">
        <img src="../../assets/img/portrait.jpg" alt="" class="about-me-img">
        <div class="about-me-img-border"></div>
        <div appHeaderOffset data-aos="fade-down-left" data-aos-offset="100" data-aos-delay="400">
            <a href="#skills"><img src="../../assets/img/arrow-right.png" alt="" class="about-me-arrow"></a>
        </div>
    </div>
</section>