.about-me {
    min-height: 100vh;
    display: flex;
    gap: 92px;
    padding-top: 64px;
}

.about-me-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;

    .about-me-headline {
        width: 100%;
        text-align: left;
    }

    p {
        margin-top: 0;
        text-align: left;
    }
}

.about-me-right {
    min-height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 48px;

    .about-me-img {
        min-width: 530px;
        height: 530px;
        object-fit: cover;
        margin-top: 48px;
        border-radius: 50%;
    }

    .about-me-img-border {
        height: 530px;
        width: 530px;
        position: absolute;
        top: 0;
        left: -20px;
        margin-top: 48px;
        border: 3px solid black;
        border-radius: 50%;
        opacity: 0;
        transition: all 125ms ease-in;

        &:hover {
            opacity: 1;
        }
    }

    .about-me-arrow {
        width: 215px;
        height: 215px;
        object-fit: cover;
    }
}



// .about-me-headline {
//     font: 800 7.2rem 'Syne', sans-serif;
//     margin-bottom: 48px;
// }

// .about-me-content {
//     display: flex;
//     flex-direction: row;
//     gap: 92px;

//     .about-me-text {
//         display: flex;
//         flex-direction: column;
//     }
// }

// .about-me-img {
//     min-width: 550px;
//     height: 550px;
//     object-fit: cover;
//     // border: 3px solid black;
//     border-radius: 50%;
// }