<div data-aos="zoom-in" class="project-left">
    <div class="project-left-content">
        <img src="{{ image }}" alt="" class="project-image">
        <img [ngClass]="{'image-circle-even': (index ?? 0) % 2 === 1}" src="../../assets/img/circle-arrow.png" alt="" class="image-circle">
        <div [ngClass]="{'image-hover-even': (index ?? 0) % 2 === 1}" class="image-hover"></div>
    </div>
</div>

<div [attr.data-aos]="((index ?? 0) % 2 === 0) ? 'fade-down-left' : 'fade-down-right'" class="project-right">
    <div class="project-index">
        {{ id }}/{{ projectsAmount }}
    </div>

    <div>
        <div class="project-title">
            {{ name }}
        </div>

        <div class="project-stack">
            {{ stack }}
        </div>

        <div class="project-description">
            {{ description }}
        </div>
    </div>

    <div class="project-links">
        <app-button [linkTo]="url" [linkName]="'Live'"></app-button>
        <app-button [linkTo]="git" [linkName]="'Github'"></app-button>
    </div>
</div>