.single-project {
    width: 100%;
    display: flex;
    // flex-direction: row;
    gap: 80px;
    margin-bottom: 24px;
    // border: 1px solid red;
}

.project-left,
.project-right {
    width: 50%;
}

.project-image {
    width: 620px;
    object-fit: cover;
    border: 1px solid black;
    filter: saturate(0);
}

.project-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 56px;
}

.project-index {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font: bold 48px 'Syne', sans-serif;
    font-variant-numeric: lining-nums;
}

.project-title {
    font: bold 48px 'Syne', sans-serif;
}

.project-stack {
    margin-top: 16px;
    color: var(--color-accent);
}

.project-description {
    margin-top: 16px;
    font-size: 20px;
}

.project-links {
    display: flex;
    margin-top: 48px;

    app-button {
        width: 50%
    }
}