<section class="above-the-fold">
    <div class="above-center">
        <div class="above-headline">Frontend<br>Developer</div>

        <div class="above-subline">
            <div class="line-container"></div>
            <div class="above-name">Oliver Jung</div>
        </div>

        <app-button [linkTo]="linkTo" [linkName]="linkName"></app-button>
    </div>

    <div class="email-scroll">
        <div class="above-email-link">
            <a href="mailto:hello@oliver-jung.dev">hello@oliver-jung.de</a>
        </div>
        <div appHeaderOffset class="scrolling">
            <a href="#about-me"><img src="assets/img/scroll-down.png" alt=""></a>
            <a href="#about-me">Scroll<br>Down</a>
        </div>
    </div>
</section>