.projects {
    min-height: calc(100vh - var(--header-height));
    display: flex;
    flex-direction: column;
    // row-gap: 88px;

    @media (max-width: 1140px) {
        row-gap: 32px;
    }

    @media (max-widt: 456px) {
        row-gap: 25px;
    }
}

h2 {
    text-align: center;
}

.projects-text {
    display: flex;
    justify-content: center;
}

p {
    width: 100%;
    max-width: 620px;
    text-align: center;
    margin-bottom: 96px;

    @media (max-width: 1140px) {
        margin-bottom: 16px;
    }

    @media (max-width: 576px) {
        font-size: 2rem;
    }
}

.project-wrapper {

    app-single-project {
        display: flex;
        gap: 80px;
        margin-bottom: 96px;
        // border: 1px solid red;

        &:nth-child(even) {
            flex-direction: row-reverse;
        }

        &:last-of-type {
            margin-bottom: 48px;
        }
    }

    @media (max-width: 1140px) {

        app-single-project {
            flex-direction: column;
            align-items: center;
            gap: 48px;

            &:nth-child(even) {
                flex-direction: column;
            }
        }
    }

    @media (max-width: 576px) {

        app-single-project {
            margin-bottom: 80px;
        }
    }

    @media (max-width: 320px) {

        app-single-project {
            margin-bottom: 64px;
        }
    }
}

.arrow-container {
    display: flex;
    justify-content: flex-end;
    padding-right: 96px;
    z-index: 99;

    @media (max-width: 576px) {
        padding-right: 48px;
    }

    @media (max-width: 456px) {
        padding-right: 24px;
    }
}

.projects-arrow {
    width: 215px;
    height: 215px;
    object-fit: cover;

    @media (max-width: 992px) {
        margin-bottom: 40px;
    }

    @media (max-width: 576px) {
        width: 180px;
        height: 180px;
        margin-bottom: 56px;
    }

    @media (max-width: 456px) {
        width: 120px;
        height: 120px;
        margin-bottom: 72px;
    }
}