<section class="projects headerOffset">
    <div>
        <h2 id="projects">Portfolio</h2>
        <div class="projects-text">
            <p>Discover a curated collection of my projects showcased below. I encourage you to explore them, test them out, and delve into the source code available on Github.</p>
        </div>
    </div>

    <div class="project-wrapper">
        <app-single-project *ngFor="let project of projects; let i = index" [index]="i" [id]="project.id" [name]="project.name" [image]="project.image" [stack]="project.stack"
            [description]="project.description" [url]="project.url" [git]="project.git" [projectsAmount]="projectsAmount">
        </app-single-project>
    </div>
    <div appHeaderOffset data-aos="fade-down-left" data-aos-offset="100" data-aos-delay="400" class="arrow-container">
        <a href="#contact"><img src="../../assets/img/arrow-right.png" alt="" class="projects-arrow"></a>
    </div>
</section>