<section class="skills header-offset">
    <div id="skills" class="skills-inner-wrapper">
        <div class="skills-content">
            <h2 class="skills-headline">My skills</h2>
            <div class="skills-list">
                <div *ngFor="let skill of skills; index as i" class="skill">
                    <img src="../../assets/img/{{ skill.image }}" alt="">
                    <span>{{ skill.name }}</span>
                </div>
            </div>
        </div>
        <div appHeaderOffset data-aos="fade-down-right" data-aos-offset="100" data-aos-delay="400" class="skills-arrow">
            <a href="#projects"><img src="../../assets/img/arrow-left.png" alt=""></a>
        </div>
    </div>
</section>