main {
    width: 100%;
    max-width: 144rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--header-height) 0 0 0;
    font-size: var(--font-size-regular);
}

app-main-site {
    width: 100%;
}