<div>

    // Lösung von Junus aus dem Call
    <a href="{{ linkTo }}"><button><ng-content></ng-content></button></a>

    // Meine Lösung, Junus sagte aber, dass er den button rausnehmen würde und den Link als Button stylen würde, verständlich, habe es nur noch drin gelassen um den Ausgangszustand zu haben.
    Ich habe jetzt mal recherchiert, wäre die Umsetzung mit ng-content nicht viel aufwendiger? So funktioniert es auf jeden Fall nicht.
    <!-- <a href="{{ linkTo }}"><button>{{ linkName }}</button></a> -->
</div>