@use './assets/css/_fonts.css';
@use './assets/css/_variables.css';
@import '~aos/dist/aos.css';

html,
body {
    min-height: 100%;
    width: 100%;
    background-color: var(--color-background);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font: 10px 'Overpass', sans-serif;
    color: var(--color-font);
    scroll-behavior: smooth;
    overflow-x: hidden;
    scroll-padding-top: 120px;
}

* {
    box-sizing: border-box;
}

section {
    width: 100%;
    max-width: 144rem;
    padding: 0 96px;

    @media (max-width: 992px) {
        padding: 0 48px;
    }

    @media (max-width: 456px) {
        padding: 0 24px;
    }
}

h2 {
    font: 800 7.2rem 'Syne', sans-serif;
    margin: 0;

    &:hover {
        color: var(--color-accent);
    }

    @media (max-width: 1440px) {
        font-size: 5.6rem;
    }

    @media (max-width: 1140px) {
        font-size: 4.8rem;
    }

    @media (max-width: 576px) {
        font-size: 4rem;
    }

    @media (max-width: 456px) {
        font-size: 3.2rem;
    }

    @media (max-width: 320px) {
        font-size: 2.4rem;
    }
}

a {
    text-decoration: none;
    color: var(--color-font);

    &:hover {
        color: var(--color-accent);
    }
}